body
{
  text-align: center;
  background-color: blue;
}

#top
{
  color: red;
  font-size: 36px;
  font-weight: bold;
}

#middle
{
  font-size: 24px;
}

#bottom
{
  color: blue;
  font-size: 12px;
}
