{% extends "layout.html" %}

{% block meta %}
    <meta http-equiv="refresh" content="5">
{% endblock %}

{% block title %}
    Overview
{% endblock %}

{% block main %}
    <h1 style="color: {{ color }};">{{ total.change }}</h1>
    <table style="width:100%" class="table table-striped">
        <tr>
            <th>Symbol</th>
            <th>Name</th> 
            <th>Shares</th>
            <th>Current</th>
        </tr>
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td style="text-align: right;">{{ cash }}</td>
        </tr>
    {% for stock in stocks %}
      <tr>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.name }}</td>
        <td style="text-align: right;">{{ stock.shares }}</td>
        <td style="text-align: right;">{{ stock.value }}</td>
      </tr>
    {% endfor %}
        <tr>
            <td><b>TOTAL</b></td>
            <td></td>
            <td></td>
            <td style="text-align: right;">{{ total.value }}</td>
        </tr>
    </table>
{% endblock %}